#album-show-container {
    position: fixed;
    left: 25em;
    top: 0.5em;
    right: 0.5em;
    bottom: 5.5em;
    padding: 4em 2em 2em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 7px;
}

.album-header {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.album-cover {
height: 14em;
/* Adjust as needed */
  padding: 1em;
}

.album-details h2 {
  margin: 0;
  color: #ffffff;
}

.album-meta span {
  color: #b3b3b3; /* Light grey color */
  margin-right: 0.5em;
}

.track {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.track:hover {
    cursor: default;
    background-color: rgb(58, 58, 58);
}

.track.selected {
    background-color: rgb(94, 94, 94);
}

.track-number, .track svg {
    height: 1em;
    width: 1em;
    margin-right: 20px;
    color: #b3b3b3; /* Adjust color to match your theme */
    fill: white;
    font-weight: bold;
}

.track-title {
    flex-grow: 1;
    color: #ffffff; /* Adjust color to match your theme */
    padding: 1em
}

.track-duration {
    color: #b3b3b3; /* Adjust color to match your theme */
}
