

#login{
  /* position: fixed; */
  margin: 2.2em auto 2em;
  width: 93%;
  max-width: 50em;

  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  padding-bottom: 2em;
}


#login form{
  max-width: 300px;
  /* margin: 0 auto; */
  margin: 0.5em 0em 1.5em;
  
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  /* padding-top: 30px; */
}

#my-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 50%;
  margin-bottom: 2em;
  max-width: 300px;
}

#my-contacts > li {
  padding: 0.7em .001em;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
}

#login label {
  color: rgb(245, 245, 245);
  margin-bottom: 1em;
  font-size: 14px;
}

#login input {
  margin-top: 0.6em;
  padding: 1.1em 0.95em;

  border: 1px solid rgb(95, 94, 94);
  -webkit-text-fill-color: white;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.1s ease-in;
  /* ali */
}

#login input, #login select{
  margin-top: 0.6em;
  padding: 1.1em 0.95em;

  border: 1px solid rgb(95, 94, 94);
  -webkit-text-fill-color: white;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.1s ease-in;
  /* ali */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in the width */
  background: #151515;
  color: white; /* Text color for input */
}

#login h1 {
  margin-top: 2em;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
  letter-spacing: -2px;
}

#login ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.social-login {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.social-login button {
  margin-right: 5px;
  padding: 10px;
  width: auto;
  background-color: #fff; /* White background for social buttons */
  border-radius: 20px; /* Add border-radius to match other buttons */
}

.social-login button:last-child {
  margin-right: 0;
}

.social-login img {
  height: 20px; /* Example size, adjust as needed */
}

/* Additional styles for 'Remember me' and 'Forgot your password?' links */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-label {
  margin-left: 5px;
  font-size: 14px;
}

.forgot-password {
  display: block;
  text-align: center;
  color: #B3B3B3; /* Light grey text */
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password:hover {
  color: white; /* White text on hover */
}

.top-bar {
  background-color: #000; /* Spotify's characteristic black background */
  padding: 10px 20px; /* Adjust the padding as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px; /* Adjust based on your actual logo size */
  width: auto;
}

#my-contacts li:hover {
  border-color: white;
  cursor: pointer;
}

#signup form{
  margin-top: 2em;
}

#signup a:visited {
  text-decoration: none;
  color: white;
}

#signup a:hover {
  color: #1DB954;
}

#signup span {
  color: grey;
}

#login hr {
  width: 70%;
  border: none;
  border-top: 1px solid rgb(47, 47, 47);
}