html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

@font-face {
  font-family: 'font-light';
  src: url('../public/_fonts/CircularSpotifyText-Light.otf') format('opentype');
}

@font-face {
  font-family: 'font-medium';
  src: url('../public/_fonts/CircularSpotifyText-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'font-bold';
  src: url('../public/_fonts/CircularSpotifyText-Bold.otf') format('opentype');
}

body {
  background-color: black;
  color: white;
  font-family: "font-bold";
  overflow-y: hidden;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
}

.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgb(34, 34, 34), black);
}


input[type="text"], input[type="password"], select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in the width */
  background: #151515;
  color: white; /* Text color for input */
}

input:hover, select:hover {
  border: 1px solid lightgrey;
}

input:focus, select:focus {
  outline: 1px solid white;
  border: 1px solid white;
}

::placeholder {
  color: rgb(185, 185, 185);
}

.back-arrow {
  height: 0.8em;
  width: 0.8em;
  transform: rotate(45deg);
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

.back-arrow:hover {
  border-color: white;
}

.down-arrow {
  height: 0.7em;
  width: 0.7em;
  transform: rotate(-45deg);
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select {
  display: flex;
  align-items: center;
}

.select .down-arrow {
  transform: rotate(-45deg) translateY(-50%);
  margin-left: -1.6em;
}

input[type="radio"] {
  display: none;
}

.user-auth-button {
  width: 100%;
  padding: 1em;

  margin-top: 1em;
  background-color: #1DB954;
  border: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  transition: background-color 0.08s ease-in;
  margin-bottom: 2em;
}

.user-auth-button:hover {
  background-color: #1ED760;
}

input[type="range"]::-webkit-slider-runnable-track {
  /* background-color: #053a5f; */
  height: 0.4em;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  /* background-color: #053a5f; */
  height: 0.4em;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.4em; /* Centers thumb on the track */
  height: 1em;
  opacity: 0;
}

input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}