.top-nav {
  width: calc(100% - 29.5em);
  height: 4em;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding: 0 1.5em 0 2.5em;
  border-radius: 7px 7px 0 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  justify-content: space-between;
}

.signupBtn,
.loginBtn {
  display: inline-block;
  text-decoration: none;
  font-size: 1em; 
  padding: 0.7em 1.75em; 
  border-radius: 22px;
  background-color: #000;
  border: 2px solid transparent; 
  transition: all 0.3s ease;
  margin-right: 10px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  box-sizing: border-box; 
}

.signupBtn {
  color: white;
  background-color: transparent; 
  border-color: white;
}

.loginBtn {
  color: black;
  background-color: white;
  border-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signupBtn:hover {
  background-color: white; 
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Same shadow on hover for both */
}

.signupBtn:focus,
.loginBtn:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #333; /* Outline effect on focus */
}

.loginBtn:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profileBtn {
  fill: white;
  width: 1em;
  height: 1em;
  padding: .5em;
  display: flex;
  align-items: top;
  background-color: black;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  top: 3em;
  right: 2em;
  background-color: #333;
  border: none;
  border-radius: 4px;
  padding: 0.5em 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.profile-dropdown li {
  color: darkgray;
  padding: 0.5em 1em;
  list-style: none;
  font-size: 16px;
}

.profile-dropdown li:not(:last-child) {
  border-bottom: 1px solid #474747;
}

.profile-dropdown li:hover {
  background-color: #474747; 
}

.profile-dropdown button {
  background: none;
  color: darkgray;
  border: none;
  width: 100%;
  text-align: left;
}

.profile-dropdown button:hover {
  cursor: pointer;
}

.profileBtn {
  cursor: pointer;
}

.session-links-container {
  display: flex;
  align-items: center;
}
