/* TODO Add site wide styles */
@font-face {
  font-family: 'font-light';
  src: url('./_fonts/CircularSpotifyText-Light.otf') format('opentype');
}

@font-face {
  font-family: 'font-medium';
  src: url('./_fonts/CircularSpotifyText-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'font-bold';
  src: url('./_fonts/CircularSpotifyText-Bold.otf') format('opentype');
}

body {
  background-color: #0d1117; /* Spotify's background color */
  color: white;
  font-family: "font-bold";
  overflow-y: scroll;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgb(34, 34, 34), black);
  overflow-x: scroll;
}

input, select{
  margin-top: 0.6em;
  padding: 1.1em 0.95em;

  border: 1px solid rgb(95, 94, 94);
  -webkit-text-fill-color: white;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.1s ease-in;
  /* ali */
}

/* general css */

input[type="text"], input[type="password"], select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in the width */
  background: #151515;
  color: white; /* Text color for input */
}

input:hover, select:hover {
  border: 1px solid lightgrey;
}

input:focus, select:focus {
  outline: 1px solid white;
  border: 1px solid white;
}

::placeholder {
  color: rgb(185, 185, 185);
}

.back-arrow {
  height: 0.8em;
  width: 0.8em;
  transform: rotate(45deg);
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

.back-arrow:hover {
  border-color: white;
}

.down-arrow {
  height: 0.7em;
  width: 0.7em;
  transform: rotate(-45deg);
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select {
  display: flex;
  align-items: center;
}

.select .down-arrow {
  transform: rotate(-45deg) translateY(-50%);
  margin-left: -1.6em;
}

input[type="radio"] {
  display: none;
}

.user-auth-button {
  width: 100%;
  padding: 1em;

  margin-top: 1em;
  background-color: #1DB954;
  border: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  transition: background-color 0.08s ease-in;
  margin-bottom: 2em;
}

.user-auth-button:hover {
  background-color: #1ED760;
}